* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

.full-div {
    width: 970px;
    margin: 20px, auto;
}

header {
    background-color: yellow;
    padding: 10px;
    font-style: italic;
    border-bottom: 5px solid red;
}

header h2 {
    /* color: **** Section **** **** End Section ****; */
    text-align: center;
}

header p {
    color: blue;
    text-align: center;
}

nav {
    background-color: chocolate;
    height: 29px;
    border-bottom: 5px solid red;
}

nav ul {
    background-color: chocolate;
    list-style-type: none;
}

nav ul li {
    float: left;
    border-right: 5px solid red;
}

nav ul li a {
    text-decoration: none;
    color: darkviolet;
    /* font-family: arial; */
    display: block;
    padding: 5px 20px;
}

nav ul li:last-child {
    border: none;
}

nav ul li a:hover {
    color: darkblue;
}

nav ul li {
    position: relative;
}

nav ul li ul {
    position: absolute;
    left: -99999px;
}

nav ul li:hover ul {
    left: 0;
    background-color: turquoise;
}

nav ul li ul li {
    float: none;
    border-right: none;
    border-bottom: 1px solid;
    width: 122px;
}

img {
    width: 960px;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
}

.content img {
    width: 460px;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
}

.main-content {
    background-color: aliceblue;
    /* border-top: 5px solid red; */
    padding: 10px;
    overflow: hidden;
}

.content {
    width: 630px;
    margin-right: 0px;
    float: left;
}

.content p {
    margin: 15px 0;
}

.content h2 {
    color: gray;
}

.content h3 {
    color: darkgrey;
}

.sideber {
    width: 280px;
    float: right;
}

.sideber {
    color: coral;
}

footer {
    color: blue;
    text-align: center;
    text-decoration: initial;
}